body {
  margin: 0;
}
#map {
  height: 100vh;
  width: 100%;
}

#input-area {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}
